body {
    margin: 0;
    background: #000;
    font-family: "Poppins", sans-serif;
}

/* ---------- NAVBAR ---------- */
.navbar {
    width: 100%;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: absolute;
    top: 0;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 6px;
}

.dropdown-content a {
    display: block;
    padding: 5px;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Login button */
.login-btn {
    background: #ff4545;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}


/* ---------- PAGE TITLE ---------- */
.page-title {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: white;
    letter-spacing: 1px;
}

/* ---------- MAIN CONTENT LAYOUT ---------- */
.service-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
}

/* ---------- LEFT CARD ---------- */
.service-card {
    background: #fff;
    width: 200px;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 0 25px #00aaff;
    border: 4px solid #00aaff;
    text-align: center;
}

.card-icon {
    width: 90px;
    margin-bottom: 10px;
}

/* ---------- RIGHT AC IMAGE ---------- */
.ac-image-box img {
    width: 450px;
}
